
#demoGridModal{
    @include modalStyle();
    max-height: 1000vh;
    height: 325vh;

    p{
        padding-right: 70%;
        padding-left: 10%;
        font-family: font(Sans);
        font-size: 1.2rem;
        text-align: left;
    }

    .demoGridCloseBtn {
        position: absolute;
        padding-left: 2% !important;
        margin-left: 0 !important;
        font-size: 2.7rem !important;
        transition: all .3s;
        cursor: pointer;

        &:hover{
            color: #ee7170;
            font-size: 2.9rem !important;
        }
    }

    #demoGridCloseSubText{
        position: absolute;
        top: 8.8vh;
        padding-right: 0 !important;
        padding-left: 3vw !important;
        // font-size: .8rem !important;
    }

    #demoGridHeader{
        padding-right: 0 !important;
        margin-top: 14vh;
        margin-bottom: 0;
        font-family: font(Oran);
        font-size: 8rem !important;
    }

    #demoGridSubTitle{
        font-family: font(Sans);
        position: absolute;
        top: 27.5vh;
        left: .4vw;
        padding-right: 65% !important;
        padding-bottom: 4%;
        margin-top: 0;
    }

    #demoGridCaveatAst{
        font-size: 2rem;
        position: absolute;
        top: 63vh;
        left: 65vw;
    }

    #demoGridCaveat{
        font-size: .8rem;
        position: absolute;
        top: 65vh;
        padding-right: 19%;
        left: 56vw;
    }

    #demoGridIntro{
        top: 12vh;
        position: absolute;
        font-size: 1.5rem !important;
        left: 33vw;
        padding-right: 20% !important;
        z-index: 2;
    }

    #dgColorSquare1{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 31vh;
        left: 10vw;
        background-color: #ddeddc;
    }

    #dgColorSquare2{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 31vh;
        left: 16vw;
        background-color: #e07874;
    }

    #dgColorSquare3{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 31vh;
        left: 22vw;
        background-color: #605c5c;
    }

    #dgColorHex1{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 31vh;
        left: 0.5vw;
    }

    #dgColorHex2{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 31vh;
        left: 6.5vw;
    }

    #dgColorHex3{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 31vh;
        left: 12.5vw;
    }

    #dgDevTitle{
        font-size: 2.5rem !important;
        position: absolute;
        font-family: font(Sans);
        top: 133vh;
        text-align: left;
        padding-left: 9%;
        margin-bottom: 0 !important;
    }

    #dgProjectSummary{
        position: absolute;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        top: 139vh;
        width: 75%;
        margin-left: 9%;
        height: 60vh;

        #dgProjectDetails{
            flex: .8;
            background-color: #46484f;

            #dgYearDetail{
                #dgYearDetail1{
                    position: absolute;
                    left: -5vw;
                    top: -1vh;
                    color: #f3eff0;
                    font-size: 3.8rem;
                }
                #dgYearDetail2{
                    position: absolute;
                    font-family: "Hind", sans-serif;
                    top: -22vh;
                    color: #f3eff0 ;
                    left: 3vw;
                    font-size: 12rem;
                }
                #dglangDetail{
                    position: absolute;
                    left: -6vw;
                    top: 13vh;
                    color: #292b32;
                    font-size: 4.8rem;
                }
                #dglangDetail2{
                    font-family: "Hind", sans-serif;
                    position: absolute;
                    top: 16vh;
                    color: #8497da ;
                    left: -4vw;
                    font-size: 7rem;
                }
                #dglangDetail3{
                    font-family: "Hind", sans-serif;
                    position: absolute;
                    top: 33vh;
                    color: #292b32 ;
                    left: -4vw;
                    font-size: 4.8rem;
                }
                #dglangDetail4{
                    font-family: "Hind", sans-serif;
                    position: absolute;
                    top: 18vh;
                    color: #292b32 ;
                    left: 8vw;
                    font-size: 10.8rem;
                    
                }
            }

        }
        
        #dgProcessPara{
            flex: 1;
            background-color: #292b31;

            #dgProcessNum{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 5%;
                margin-left: 91%;
                display: flex;
            }

            #dgProcess{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.6rem;
                margin-right: 16%;
                word-spacing: -2px;
                margin-left: 14%;
            }

        }
    }

    #dgProjectSummary2{
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 199vh;
        width: 100%;
        margin-left: 9%;
        height: 120vh;

        #dgProjectDetails2{
            flex: .5;
            background-color: #292b32;

            #dgProcessNum2{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 5%;
                margin-left: 91%;
                display: flex;
            }

            #dgProcess2{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.4rem;
                margin-right: 19%;
                margin-left: 11%;
            }

            #dgProcessNum3{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 10%;
                margin-left: 91%;
                display: flex;
            }

            #dgProcess3{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.4rem;
                margin-right: 26%;
                margin-left: 11%;
            }

        }

        #dgDetailImg{
            flex: 1;
            background-color: #46484f;
            overflow: hidden;

            #dgMockUpDetail{
                width: 79%;
                display: inline;
                padding-top: 4.5%;
                margin-left: -13%;
            }

            #dgMockUpDetail2{
                width: 79%;
                display: inline;
                padding-top: 4.5%;
                margin-left: -13%;
            }
        }

    }

    #demoGridScreenshot1 img{
        width: 65%;
        position: absolute;
        top: 43vh;
        left: 1vw;
        
    }
}

#istModal{
    @include modalStyle();
    max-height: 1000vh;
    height: 325vh;

    p{
        padding-right: 70%;
        padding-left: 10%;
        font-family: font(Sans);
        font-size: 1.2rem;
        text-align: left;
    }

    .istCloseBtn{
        position: absolute;
        padding-left: 2% !important;
        margin-left: 0 !important;
        font-size: 2.7rem !important;
        transition: all .3s;
        cursor: pointer;

        &:hover{
            color: #ee7170;
            font-size: 2.9rem !important;
        }
    }

    #istCloseSubText{
        position: absolute;
        top: 8.8vh;
        padding-right: 0 !important;
        padding-left: 3vw !important;
    }

    #istHeader{
        padding-right: 0 !important;
        margin-top: 14vh;
        margin-bottom: 0;
        font-family: font(Oran);
        font-size: 8rem !important;
    }
        
    #istSubTitle{
        font-family: font(Sans);
        position: absolute;
        top: 27.5vh;
        left: .4vw;
        padding-right: 65% !important;
        padding-bottom: 4%;
        margin-top: 0;
    }  

    #istIntro{
        top: 12vh;
        position: absolute;
        font-size: 1.5rem !important;
        left: 33vw;
        padding-right: 20% !important;
        z-index: 2;
    }

    #istColorSquare1{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 31vh;
        left: 10vw;
        background-color: #ed3a39;
    }

    #istColorSquare2{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 31vh;
        left: 16vw;
        background-color: #2b687b;
    }

    #istColorSquare3{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 31vh;
        left: 22vw;
        background-color: #280c0c;
    }

    #istColorHex1{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 31vh;
        left: 0.5vw;
    }

    #istColorHex2{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 31vh;
        left: 6.5vw;
    }

    #istColorHex3{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 31vh;
        left: 12.5vw;
    }

    #istScreenshot1 img{
        width: 70%;
        position: absolute;
        top: 42vh;
        left: 2vw;
    }

    #istDevTitle{
        font-size: 2.5rem !important;
        position: absolute;
        font-family: font(Sans);
        top: 133vh;
        text-align: left;
        padding-left: 9%;
        margin-bottom: 0 !important;
    }

    #istProjectSummary{
        position: absolute;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        top: 139vh;
        width: 75%;
        margin-left: 9%;
        height: 60vh;

        #istProjectDetails{
            flex: .8;
            background-color: #46484f;

            #istYearDetail{
                #istYearDetail1{
                    position: absolute;
                    left: -5vw;
                    top: -1vh;
                    color: #f3eff0;
                    font-size: 3.8rem;
                }
                #istYearDetail2{
                    position: absolute;
                    font-family: "Hind", sans-serif;
                    top: -22vh;
                    color: #f3eff0 ;
                    left: 3vw;
                    font-size: 12rem;
                }
                #istlangDetail{
                    position: absolute;
                    left: -6vw;
                    top: 13vh;
                    color: #292b32;
                    font-size: 4.8rem;
                }
                #istlangDetail2{
                    font-family: "Hind", sans-serif;
                    position: absolute;
                    top: 11vh;
                    color: #292b32 ;
                    left: -1vw;
                    font-size: 9rem;
                }
                #istlangDetail3{
                    font-family: "Hind", sans-serif;
                    position: absolute;
                    top: 37vh;
                    color: #292b32 ;
                    left: -4vw;
                    font-size: 4.8rem;
                }
                #istlangDetail4{
                    font-family: "Hind", sans-serif;
                    position: absolute;
                    top: 27vh;
                    color: #292b32 ;
                    left: 8vw; 
                    font-size: 7.8rem;
                }
            }
        }

        #istProcessPara{
            flex: 1;
            background-color: #292b31;

            #istProcessNum{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 5%;
                margin-left: 91%;
                display: flex;
            }

            #istProcess{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.6rem;
                margin-right: 16%;
                word-spacing: -2px;
                margin-left: 14%;
            }

        }

    }

    #istProjectSummary2{
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 199vh;
        width: 100%;
        margin-left: 9%;
        height: 120vh;

        #istProjectDetails2{
            flex: .5;
            background-color: #292b32;

            #istProcessNum2{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 5%;
                margin-left: 91%;
                display: flex;
            }

            #istProcess2{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.4rem;
                margin-right: 19%;
                margin-left: 11%;
            }

            #istProcessNum3{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 10%;
                margin-left: 91%;
                display: flex;
            }

            #istProcess3{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.4rem;
                margin-right: 26%;
                margin-left: 11%;
            }

        }

        #istDetailImg{
            flex: 1;
            background-color: #46484f;
            overflow: hidden;

            #istMockUpDetail{
                width: 79%;
                display: inline;
                padding-top: 4.5%;
                margin-left: -13%;
            }

            #istMockUpDetail2{
                width: 79%;
                display: inline;
                padding-top: 4.5%;
                margin-left: -13%;
            }
        }

    }




}  

#mtModal{
    @include modalStyle();
    max-height: 1000vh;
    height: 410vh;

    p{
        font-family: 'Open Sans', serif;
        font-size: 1.2rem;
        text-align: justify;;
        padding-right: 45%;
        padding-left: 9.5%;
    }
    
    .mtCloseBtn{
        position: absolute;
        font-size: 2.7rem !important;
        margin-left: 0 !important;
        padding-left: 2% !important;
        transition: all .3s;
        cursor: pointer;

        &:hover{
            color: #c28c89;
            font-size: 2.9rem !important;
        }
    }

    #mtCloseSubText{
        position: absolute;
        padding-right: 0 !important;
        padding-left: 3vw !important;
        top: 8.8vh;
    }
            
    #mtHeader{
        font-family: 'Oranienbaum', serif !important;
        font-size: 7rem !important;
        margin-bottom: 0;
        margin-top: 14vh;
        padding-right: 0 !important;
    }

    #mtSubTitle{
        font-family: 'Open Sans', serif;
        margin-top: 0;
        position:absolute;
        top: 25.5vh;
        left: .4vw;
        padding-bottom: 4%;
    }

    #mtFocus{
        top: 36vh;
        padding-left: 9.5%;
        padding-right: 70%;
        display: none;
    }

    #onBoardingTitle{
        position: absolute;
        font-size: 2.5rem !important;
        text-align: left;
        padding-left: 9.5%;
        margin-bottom: 0 !important;
        top: 285vh;
    }
        
    #onBoardingSubTitle{
        position: absolute;
        top: 294vh;
    }

    #mtIntro{
        top: 12vh;
        position: absolute;
        font-size: 1.5rem !important;
        left: 33vw;
        padding-right: 20% !important;
        z-index: 2;
    }

    #intialMockUp img{
        width: 50%;
        height: auto;
        top: 28vh;
        left: 3vw;
        padding-top: 5vh;
        position: absolute; 
    }

    #mockUpClump img{
        width: 78%;
        top: 27vh;
        left: 1vw;
        padding-top: 5vh;
        position: absolute;
    }

    #intialMockUp2 img{
        width: 50%;
        height: auto;
        top: 80vh;
        left: 20vw;
        padding-top: 6vh;
        position: absolute; 
    }

    #intialMockUp3 img{
        width: 50%;
        height: auto;
        top: 80vh;
        left: 45vw;
        padding-top: 6vh;
        position: absolute;     
    }

    #mtDockingSC1 img{
        width: 50%;
        height: auto;
        top: 80vh;
        left: -5vw;
        padding-top: 5vh;
        position: absolute;     
    }

    #mtDockingSC2 img{
        width: 50%;
        height: auto;
        top: 80vh;
        left: 20vw;
        padding-top: 6vh;
        position: absolute; 
    }
    
    #mtDockingSC3 img{
        width: 50%;
        height: auto;
        top: 80vh;
        left: 45vw;
        padding-top: 6vh;
        position: absolute; 
    }

    #colorSquare1{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 30vh;
        left: 10vw;
        background-color: #a5b8c5;
    }

    #colorSquare2{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 30vh;
        left: 16vw;
        background-color: #9a98b3;
    }
        
    #colorSquare3{
        height: 10px;
        width: 85px;
        position: absolute;
        top: 30vh;
        left: 22vw;
        background-color: #c28c89;
    }

    #colorHex1{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 30vh;
        left: 0.5vw;
    }
        
    #colorHex2{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 30vh;
        left: 6.5vw;
    }
        
    #colorHex3{
        font-family: 'Open Sans', serif !important;
        font-size: .7rem !important;
        position: absolute;
        top: 30vh;
        left: 12.5vw;
    }

    #mtProjectSummary{
        position: absolute;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        top: 144vh;
        // margin-right: 10% !important;
        // margin-left: 10% !important;
        width: 75%;
        margin-left: 9%;
        height: 60vh;

        #mtProjectDetails{
            flex: .8;
            background-color: #46484f;

            #mtDetailYear{
                #mtYearDetail{
                    position: absolute;
                    left: -5vw;
                    top: -1vh;
                    color: #f3eff0;
                    font-size: 3.8rem;
                }
                #mtYearDetail2{
                    position: absolute;
                    font-family: "Hind", sans-serif;
                    top: -22vh;
                    color: #f3eff0 ;
                    left: 3vw;
                    font-size: 12rem;
                }

                #mtLangDetail{
                    position: absolute;
                    left: -6vw;
                    top: 13vh;
                    color: #292b32;
                    font-size: 4.8rem;
                }

                #mtLangDetail2{
                    font-family: "Hind", sans-serif;
                    position: absolute;
                    top: 1vh;
                    color: #292b32 ;
                    left: -4vw;
                    font-size: 12.8rem;
                }

            }
        }

        #mtProcessPara{
            flex: 1;
            background-color: #292b31;

            #processNum{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 5%;
                margin-left: 91%;
                display: flex;
            }

            #dProcess{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.8rem;
                margin-right: 16%;
                word-spacing: -2px;
                margin-left: 14%;
            }
        }

        #mtProcessPara2{
            flex: 2;
            background-color: red;
        }
    }

    #mtProjectSummary2{
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 204vh;
        width: 100%;
        margin-left: 9%;
        height: 80vh;

        #mtDetailProcess{
            flex: .8;
            background-color: #292b32;

            #processNum2{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 5%;
                margin-left: 91%;
                display: flex;
            }

            #dProcess2{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.6rem;
                margin-right: 19%;
                margin-left: 11%;
            }

        }

        #mtDetailImg{
            flex: 1;
            background-color: #46484f;
            overflow: hidden;

            #mockUpDetail{
                width: 42%;
                margin-left: -11%;
                display: inline;

            }

            #mockUpDetail2{
                width: 44%;
                padding-top: .5%;
                display: inline;
                margin-left: -4%;
            }
        }
    }

    #mtProjectSummary3{
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 284vh;
        width: 100%;
        margin-left: 9%;
        height: 121vh;

        #mtDetailImg2{
            flex: .8;
            background-color: #46484f;
            overflow: hidden;

            #mockUpDetail3{
                width: 75%;
                margin-left: -1%;
                display: inline;
                padding-top: 1.5%;
            }
        }
        #mtDetailProcess2{
            flex: 1;
            background-color: #292b32;

            #processNum3{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 5%;
                margin-left: 76%;
                display: flex;
            }

            #dProcess3{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.6rem;
                margin-right: 26%;
                margin-left: 11%;
            }

            #processNum4{
                color: #d6d6d6;
                font-size: 1.5rem;
                font-family: myFont;
                margin-top: 10%;
                margin-left: 76%;
                display: flex;
            }

            #dProcess4{
                z-index: 3;
                color: #d6d6d6;
                text-align: left;
                padding-right: 0;
                padding-left: 0;
                font-size: 1.6rem;
                margin-right: 26%;
                margin-left: 11%;
            }

        }
    }


    #testTitle{
        font-size: 2.5rem !important;
        position: absolute;
        top: 133vh;
        text-align: left;
        padding-left: 9%;
        margin-bottom: 0 !important;
    }

    #mtTestSC img{
        display: none;
        width: 50%;
        height: auto;
        top: 210vh;
        left: -5vw;
        position: absolute;
        z-index: 1;
    }
        
    #mtResultsSC img{
        width: 35%;
        height: auto;
        top: 160vh;
        left: 20vw;
        position: absolute;
        display: none;
    }

    #mtResultsSC2 img{
        width: 42%;
        height: auto;
        top: 158vh;
        left: 21vw;
        position: absolute;
    }

    #mtResultsSC3 img{
        width: 45%;
        height: auto;
        top: 167vh;
        left: 38vw;
        position: absolute;
    }

        
        
}

#resumeModal{
    display: none;

    .resumeCloseBtn{
        position: absolute;
        font-size: 2.7rem !important;
        margin-left: 0 !important;
        padding-left: 2% !important;
        transition: all .3s;
        cursor: pointer;

        &:hover{
            color: #ee7170;
            font-size: 2.9rem !important;
        }
    }

    p{
        font-family: 'Open Sans', serif;
        font-size: 1.2rem;
        text-align: left;
        padding-right: 70%;
        padding-left: 10%;
    }

    #resumeCloseSubText{
        position: absolute;
        padding-right: 0 !important;
        padding-left: 3vw !important;
        top: 8.8vh;
        font-size: .8rem !important;
    }
        
}



#bCloseSubText{
position: absolute;
padding-right: 0 !important;
padding-left: 3vw !important;
top: 8.8vh;
}
    