
body{
background-color: #f2eff0;
margin: 0;
color: #393641;
}

#wrapper{
display: flex;
flex-direction: column;
background-color: white;
position: relative;
top: 80vh;
overflow: hidden;
}

#emptyOne{
background-color: white;
height: 120px;
}

#middle{
margin-top: 50%;
}

#middle p{
padding-left: 10%;
padding-right: 10%;
padding-top: 5%;
font-size: 1.5rem;
color: white;
}

#header{
position: fixed;
max-height: 85vh;
overflow: hidden;
}

#name{
font-family: 'Oranienbaum', serif;
font-size: 17rem;
left: 30vw !important;
top: 18vh !important; 
/*            color: #393641;*/
color: #f23640;
opacity: .9;
}

#mobileName{
display: none !important;
}

#mobileText{
display: none !important;
}

#subTitle{
font-family: 'Open Sans', sans-serif;
font-size: 2.5rem;
left: 45.8vw !important;
top: 45.5vh !important; 
color: #59555e;
}

#subTitle2{
font-family: 'Open Sans', sans-serif;
font-size: 2.5rem;
left: 57.3vw !important;
top: 45.8vh !important; 
color: #59555e;
}

#subTitle3{
font-family: 'Open Sans', sans-serif;
font-size: 2.5rem;
left: 58.7vw !important;
top: 45.5vh !important;
color: #59555e;
}

#window{
height: 400px;
background-image: url(me3.png);
background-position: right;
background-repeat: no-repeat;
background-attachment: fixed;
}

#introText{
z-index: 2;
width: 25%;
font-size: 2rem;
position: absolute;
margin-top: 19vh;
margin-left: 10vw;
font-family: 'Open Sans', sans-serif;
}

#introText p{
margin: 0;         
}

#introTextHeader{
font-family: 'Oranienbaum', serif;
font-size: 3.5rem;
}

#introTextSub{
padding-left: 5%;
}

#contactLink{
color: #ff1238;
cursor: pointer;
text-decoration: none;
}

#skillText{
z-index: 2;
width: 40%;
font-size: 2rem;
position: absolute;
top: 105vh;
margin-left: 38vw;
font-family: 'Open Sans', sans-serif;
}

#skillTextHeader{
font-family: 'Oranienbaum', serif;
font-size: 3.5rem;
}

#workText{
z-index: 2;
width: 40%;
font-size: 2rem;
position: absolute;
top: 210vh;
margin-left: 60vw;
font-family: 'Open Sans', sans-serif;
}

#workTextHeader{
font-family: 'Oranienbaum', serif;
font-size: 3.5rem;
}

.orbs{
    transition: transform 0.25s;
}

.orb-1{
z-index: 2;
position: absolute;
top: 115vh;
width: 62.5px;
height: 62.5px;
border-radius: 250px;
font-size: 15px;
color: #fff;
line-height: 62.5px;
text-align: center;
background: #000;
font-family: 'Oranienbaum', serif;
}

.orb-2{
z-index: 2;
position: absolute;
top: 125vh;
left: 5vw;
width: 225px;
height: 225px;
border-radius: 250px;
font-size: 40px;
color: #fff;
line-height: 225px;
text-align: center;
background: #000;
font-family: 'Oranienbaum', serif;
}

.orb-3
{
z-index: 2;
width: 155px;
top: 95vh;
position: absolute;
height: 155px;
border-radius: 250px;
font-size: 45px;
color: #fff;
line-height: 155px;
text-align: center;
background: #000;
font-family: 'Oranienbaum', serif;
}

.orb-4
{
z-index: 2;
width: 180px;
left: 105vw;
top: 105vh;
position: absolute;
height: 180px;
border-radius: 250px;
font-size: 50px;
color: #fff;
line-height: 180px;
text-align: center;
background: #000;
font-family: 'Oranienbaum', serif;
}

.orb-5
{
width: 80px;
left: 100vw;
z-index: 2;
top: 97vh;
position: absolute;
height: 80px;
border-radius: 250px;
font-size: 20px;
color: #fff;
line-height: 80px;
text-align: center;
background: #000;
font-family: 'Oranienbaum', serif;
}

.orb-6
{
z-index: 2;
width: 125px;
left: 106vw;
top: 140vh;
position: absolute;
height: 125px;
border-radius: 250px;
font-size: 35px;
color: #fff;
line-height: 125px;
text-align: center;
background: #000;
font-family: 'Oranienbaum', serif;
}

.orb-7
{   
z-index: 2;
width: 280px;
left: 79vw;
top: 128vh;
position: absolute;
height: 280px;
border-radius: 250px;
font-size: 50px;
color: #fff;
line-height: 280px;
text-align: center;
background: #000;
font-family: 'Oranienbaum', serif;
}

.orb-8
{
width: 80px;
z-index: 2;
left: 110vw;
top: 125vh;
position: absolute;
height: 80px;
border-radius: 250px;
font-size: 20px;
color: #fff;
line-height: 80px;
text-align: center;
background: #000;
font-family: 'Oranienbaum', serif;
}

.orbDetail-1
{
width: 85px;
z-index: 1;
left: 110.2vw;
top: 124.5vh;
position: absolute;
height: 85px;
border-radius: 250px;
background: #45eff0;
opacity: .7;
}


.orbDetail-2
{
width: 85px;
z-index: 1;
left: 109.5vw;
top: 124.5vh;
position: absolute;
height: 85px;
border-radius: 250px;
background: #f23640;
opacity: .7;
}


.orbDetail-3
{
width: 230px;
z-index: 1;
left: 5.2vw;
top: 124.5vh;
position: absolute;
height: 230px;
border-radius: 250px;
background: #45eff0;
opacity: .7;
}


.orbDetail-4
{
width: 230px;
z-index: 1;
left: 4.5vw;
top: 124.5vh;
position: absolute;
height: 230px;
border-radius: 250px;
background: #f23640;
opacity: .7;
}

.orbDetail-5
{
width: 85px;
z-index: 1;
left: 100.2vw;
top: 96.5vh;
position: absolute;
height: 85px;
border-radius: 250px;
background: #45eff0;
opacity: .7;
}


.orbDetail-6
{
width: 85px;
z-index: 1;
left: 99.5vw;
top: 96.5vh;
position: absolute;
height: 85px;
border-radius: 85px;
background: #f23640;
opacity: .7;
}

.orbDetail-7
{
display: none;
width: 280px;
z-index: 1;
left: 80vw;
top: 128vh;
position: absolute;
height: 280px;
border-radius: 250px;
background: #f23640;
opacity: .7;
}

.orbDetail-8
{
display: none;
width: 280px;
z-index: 1;
left: 78vw;
top: 128vh;
position: absolute;
height: 280px;
border-radius: 250px;
background: #45eff0;
opacity: .7;
}


.sunflower{
position: absolute;
top: 175vh;
left: 5vw;
width: 50%;
}

.dancingMan{
position: absolute;
top: 100vh;
left: 60vw;
width: 35%;
z-index: 0;
opacity: .85;
}

.rectBg{
position: absolute;
top: 100vh;
left: 60vw;
z-index: 1;
width: 155px;
height: 250px;
opacity: .9;
transform: skewY(-20deg);
background: #f23640;
}

.rectBg2{
position: absolute;
top: 130vh;
left: 20vw;
z-index: 1;
width: 115px;
height: 290px;
opacity: .9;
transform: skew(-20deg);
background: #f23640;
}

.squareBg{
    position: absolute;
    z-index: 0;
    top: 107vh;
    left: 14vw;
    background: #f2eff0;
    width: 300px;
    height: 300px;
}

.squareBg2{
    position: absolute;
    z-index: 0;
    top: 127vh;
    left: 64vw;
    background: #f2eff0;
    width: 200px;
    height: 200px;
}

/*IMAGES*/

.alice{
position: absolute;
z-index: 0;
left: 10vw !important;
top: 34vh !important;
}

.alice img{
width: 85%;
transform: skew(-10deg)
}

.pushkin{
position: absolute;
z-index: 0;
left: 3vw !important;
top: 14vh !important;
}

.pushkin img{
width: 21%;
transform: skew(11deg) rotate(180deg);
/*            transform: rotate(180deg);*/
opacity: .8;
}

.man{
position: absolute;
z-index: 0;
left: 80vw !important;
top: 64vh !important;
}

.man img{
width: 90%;
transform: skew(0deg);
opacity: .8;
}

.bear{
position: absolute;
z-index: 0;
left: 85vw !important;
top: 12vh !important;
}

.bear img{
width: 90%;
transform: skew(5deg);
opacity: .8;
}

.umbrella{
position: absolute;
z-index: 0;
left: 45vw !important;
top: 70vh !important;
}

.umbrella img{
width: 70%;
transform: skew(0deg);
opacity: .8;
}

.sprite{
position: absolute;
z-index: 0;
left: 55vw !important;
top: -10vh !important;
}

.sprite img{
width: 60%;
transform: skew(10deg);
opacity: .8;
}

.skull{
position: absolute;
z-index: 0;
left: 60vw !important;
top: 80vh !important;
}

.eyes2{
position: absolute;
z-index: 0;
left: -25vw !important;
top: 30vh !important;
}

.eyes2 img{
width: 40%;
opacity: .8;
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
-ms-filter: "FlipH";
}

.dos{
font-family: 'Open Sans', sans-serif;
font-size: 10px;
opacity: .3;
color: 
}

.work{
font-family: 'Open Sans', serif;
font-size: 2.4rem;
list-style-type: none;
line-height: 1.2;
margin-left: 8vw;
margin-bottom: 10vh;
margin-top: 2vh;
}

.work li{
cursor: pointer;
margin-bottom: 0;
padding-bottom: 0;

}

.spanList{
font-size: .9rem !important;
color: #f23640;
padding-left: 0vh !important;
}

.work span{
font-size: .9rem;
margin: 0;
padding-top: 0;
padding-left: .9vh;

}

.shape{
width: 25px;
height: 1px;
transform: skewY(20deg);
background: #f23640;
position: absolute;
opacity: .9;
top: 217vh;
left: 40.5vw;  
}

.shape2{
width: 20px;
height: 1px;
transform: skewY(-20deg);
background: #f2eff0;
position: absolute;
opacity: .9;
top: 208vh;
left: 19vw;
}

.shape3{
position: absolute;
top: 208vh;
left: 15vw;
transform: skewY(-20deg);
width: 0;
height: 0;
opacity: .9;
border-top: 15px solid transparent;
border-right: 50px solid #f2eff0;
border-bottom: 15px solid transparent;
}

#resumeShape{
display: flex !important;
height: 125px;
width: 125px;
/*            background-color: #f23640;*/
background-color: #393641;
left: 19vw !important;
top: 18vh !important;
z-index: 3;
justify-content: center;
align-items: center;
font-size: 1.5rem;
font-family: 'Open Sans', serif;
color: #ffff;
animation: rotation 15s infinite linear;
cursor: pointer;
}

#socialShape{
top: 6vh !important;
left: 60vw !important;
width: 0px;
height: 0px;
border-style: inset;
border-width: 0 80px 133.2px 80px;
/*            border-color: transparent transparent #f23640 transparent;*/
border-color: transparent transparent #393641 transparent;
transform:rotate(360deg);
-ms-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg);
animation: rotation 15s infinite linear;
cursor: pointer;
}

#socialShape p{
color: #ffff;
font-family: 'Open Sans', serif;
text-align: center;
top: 75px;
left: -47px;
position: relative;
width: 93px;
height: 73px;
margin: 0px;
font-size: 1.2rem;
}

#socialShapeMobile{
display: none;
}


#gitShape{
display: flex !important;
height: 125px;
width: 125px;
border-radius: 50%;
/*            background-color: #f23640;*/
background-color: #393641;
left: 55vw !important;
top: 55vh !important;
z-index: 3;
justify-content: center;
align-items: center;
font-size: 1.5rem;
font-family: 'Open Sans', serif;
color: #ffff;
animation: rotation 15s infinite linear;
cursor: pointer;
text-decoration: none;
}

#gitShapeMobile{
display: none;
}

#modal{
display: none;
background-color: #f2eff0;
z-index: 3;
overflow: scroll;
text-align: center;
}

#modal2{
display: none;
background-color: #f2eff0;
z-index: 3;
overflow: scroll;
text-align: center;
}

#modal3{
display: none;
background-color: #f2eff0;
z-index: 3;
overflow: scroll;
text-align: center;
}

#modal4{
display: none;
background-color: #f2eff0;
z-index: 3;
overflow: scroll;
text-align: center;
}

#modal5{
display: none;
background-color: #f2eff0;
z-index: 3;
overflow: scroll;
text-align: center;
}

#modal6{
display: none;
}

#demoGridHeader{
font-family: 'Oranienbaum', serif !important;
font-size: 7rem !important;
margin-bottom: 0;
padding-right: 0 !important;
text-align: center !important;
}

#istHeader{
font-family: 'Oranienbaum', serif !important;
font-size: 6.5rem !important;
margin-bottom: 0;
padding-right: 0 !important;
text-align: center !important;
}

#sfHeader{
font-family: 'Oranienbaum', serif !important;
font-size: 7rem !important;
margin-bottom: 0;
padding-right: 0 !important;
text-align: center !important;
}

#bHeader{
font-family: 'Oranienbaum', serif !important;
font-size: 7rem !important;
margin-bottom: 0;
padding-right: 0 !important;
text-align: center !important;
}

#miscHeader{
font-family: 'Oranienbaum', serif !important;
font-size: 7rem !important;
margin-bottom: 0;
padding-right: 0 !important;
text-align: center !important;
}

#demoGridSubTitle{
font-family: 'Open Sans', serif;
margin-top: 0;
padding-right: 0 !important;
text-align: center !important;
padding-bottom: 7%;
}

#istSubTitle{
font-family: 'Open Sans', serif;
margin-top: 0;
padding-right: 0 !important;
text-align: center !important;
padding-bottom: 7%;
}

#sfSubTitle{
font-family: 'Open Sans', serif;
margin-top: 0;
padding-right: 0 !important;
text-align: center !important;
padding-bottom: 7%;
}

#bSubTitle{
font-family: 'Open Sans', serif;
margin-top: 0;
padding-right: 0 !important;
text-align: center !important;
padding-bottom: 7%;
}

#miscSubTitle{
font-family: 'Open Sans', serif;
margin-top: 0;
padding-right: 0 !important;
text-align: center !important;
padding-bottom: 7%;
}

#demoGridCaveat{
font-size: .8rem !important;
text-align: justify;
padding-left: 10%;
padding-bottom: 3%;
padding-right: 0% !important;
}

#modal p{
font-family: 'Open Sans', serif;
font-size: 1.2rem;
text-align: left;
padding-right: 70%;
padding-left: 10%;
}

#modal2 p{
font-family: 'Open Sans', serif;
font-size: 1.2rem;
text-align: left;
padding-right: 70%;
padding-left: 10%;
}

#modal3 p{
font-family: 'Open Sans', serif;
font-size: 1.2rem;
text-align: left;
padding-right: 70%;
padding-left: 10%;
}

#modal4 p{
font-family: 'Open Sans', serif;
font-size: 1.2rem;
text-align: left;
padding-right: 70%;
padding-left: 10%;
}

#modal5 p{
font-family: 'Open Sans', serif;
font-size: 1.2rem;
text-align: left;
padding-right: 70%;
padding-left: 10%;
}

#modal6 p{
font-family: 'Open Sans', serif;
font-size: 1.2rem;
text-align: left;
padding-right: 70%;
padding-left: 10%;
}

#demoGridFocus{
top: 52vh;
float: right;
padding-right: 10% !important;
}

#istFocus{
top: 52vh;
float: right;
padding-right: 10% !important;
}

#sfFocus{
top: 52vh;
float: right;
padding-right: 10% !important;
}

#bFocus{
top: 52vh;
float: right;
padding-right: 10% !important;
}

#miscFocus{
top: 52vh;
float: right;
padding-right: 10% !important;
}

#demoGridIntro{
top: 37vh;
padding-right: 65% !important;
}

#istIntro{
top: 37vh;
padding-right: 65% !important;
}

#sfIntro{
top: 37vh;
padding-right: 65% !important;
}

#bIntro{
top: 37vh;
padding-right: 65% !important;
}

#miscIntro{
top: 37vh;
padding-right: 65% !important;
}

#demoGridScreenshot1 img{
width: 80%;
margin-left: 0;
padding-left: 0;
}

#istScreenshot1 img{
width: 80%;
margin-left: 0;
padding-left: 0;
padding-bottom: 3%;
}

#sfScreenshot1 img{
width: 80%;
margin-left: 0;
padding-left: 0;
padding-bottom: 3%;
}

#bScreenshot1 img{
width: 80%;
margin-left: 0;
padding-left: 0;
padding-bottom: 3%;
}

.webScreenshot{
width: 100%;
height:auto;
margin-left: 0;
margin-bottom:0;
margin-right: 0;
padding: 0;
padding-left: 0;
}

#miscScreenshot1 img{
width: 80%;
margin-left: 0;
padding-left: 0;
padding-bottom: 3%
}

#demoGridScreenshot2 img{
width: 80%;
padding-bottom: 4%;
}

#istScreenshot2 img{
width: 80%;
padding-bottom: 4%;
}

#sfScreenshot2 img{
width: 80%;
padding-bottom: 4%;
}

#bScreenshot2 img{
width: 80%;
margin-left: 0;
padding-left: 0;
padding-bottom: 3%;
}

#miscScreenshot2 img{
width: 80%;
padding-bottom: 4%;
}

.resumeCloseBtn{
position: absolute;
font-size: 2.7rem !important;
margin-left: 0 !important;
padding-left: 2% !important;
transition: all .3s;
cursor: pointer;
}

.demoGridCloseBtn {
position: absolute;
font-size: 2.7rem !important;
margin-left: 0 !important;
padding-left: 2% !important;
transition: all .3s;
cursor: pointer;
}

.istCloseBtn{
position: absolute;
font-size: 2.7rem !important;
margin-left: 0 !important;
padding-left: 2% !important;
transition: all .3s;
cursor: pointer;
}

.sfCloseBtn{
position: absolute;
font-size: 2.7rem !important;
margin-left: 0 !important;
padding-left: 2% !important;
transition: all .3s;
cursor: pointer;
}

.bCloseBtn{
position: absolute;
font-size: 2.7rem !important;
margin-left: 0 !important;
padding-left: 2% !important;
transition: all .3s;
cursor: pointer;
}

.miscCloseBtn{
position: absolute;
font-size: 2.7rem !important;
margin-left: 0 !important;
padding-left: 2% !important;
transition: all .3s;
cursor: pointer;
}

.resumeCloseBtn:hover{
color: #ee7170;
font-size: 2.9rem !important;
}

.demoGridCloseBtn:hover{
color: #ee7170;
font-size: 2.9rem !important;
}

.istCloseBtn:hover{
color: #ff1a2d;
font-size: 2.9rem !important;
}

.sfCloseBtn:hover{
color: #ff1a2d;
font-size: 2.9rem !important;
}

.bCloseBtn:hover{
color: #61383a;
font-size: 2.9rem !important;
}

.miscCloseBtn:hover{
color: #bd70c2;
font-size: 2.9rem !important;
}

#resumeCloseSubText{
position: absolute;
padding-right: 0 !important;
padding-left: 3vw !important;
top: 8.8vh;
font-size: .8rem !important;
}

#demoGridCloseSubText{
position: absolute;
padding-right: 0 !important;
padding-left: 3vw !important;
top: 8.8vh;
font-size: .8rem !important;
}

#istCloseSubText{
position: absolute;
padding-right: 0 !important;
padding-left: 3vw !important;
top: 8.8vh;
font-size: .8rem !important;
}

#sfCloseSubText{
position: absolute;
padding-right: 0 !important;
padding-left: 3vw !important;
top: 8.8vh;
}

#bCloseSubText{
position: absolute;
padding-right: 0 !important;
padding-left: 3vw !important;
top: 8.8vh;
}

#miscCloseSubText{
position: absolute;
padding-right: 0 !important;
padding-left: 3% !important;
top: 8.8vh;           
}

section{
    top: 295vh;
    left: 65vh;
    position: absolute;
    transition: transform 0.45s;
    will-change: transform;
}

section2{
    top: 385vh;
    left: 15vh;
    position: absolute;
    transition: transform 0.45s;
    will-change: transform;
}

section3{
    top: 475vh;
    left: 10vh;
    position: absolute;
    transition: transform 0.45s;
    will-change: transform;
}

section4{
    top: 475vh;
    left: 50vh;
    position: absolute;
    transition: transform 0.45s;
    will-change: transform;
}

section5{
    top: 475vh;
    left: 90vh;
    position: absolute;
    transition: transform 0.45s;
    will-change: transform;
}


.skewScreenshot{
    position: absolute;
    width: 1000px;
    cursor: pointer;
    z-index: 1;
}

.skewScreenshot1{
    position: absolute;
    width: 1000px;
    cursor: pointer;
    z-index: 1;
}

.skewScreenshot2{
    position: absolute;
    width: 300px;
    cursor: pointer;
    z-index: 1;
}

#skewDemoGridText{
    position: absolute;
    top: 295vh;
    left: 5%;
    z-index: 1;
}

#skewISTText{
    position: absolute;
    top: 385vh;
    left: 70%;
    z-index: 1;
}

#skewMtText{
    position: absolute;
    top: 485vh;
    left: 68%;
    z-index: 1;
}

#demoGridSubText{
    font-family: 'Open Sans', serif;
    margin-top: 0;
    padding-right: 0 !important;
    margin-left: 8vw;
}

#istSubText{
    font-family: 'Open Sans', serif;
    margin-top: 0;
    padding-right: 0 !important;
    margin-left: 9vw;
}

#skewNumber1{
    position: absolute;
    top: 295vh;
    left: 27%;
    z-index: 1;
}

#skewNumber2{
    position: absolute;
    top: 384vh;
    left: 80%;
    z-index: 1;
}

#skewNumber3{
    position: absolute;
    top: 486vh;
    left: 90%;
    z-index: 1;
}

.skewNumber{
    font-size: 4rem !important;
    color: #f34b53;
}

#dgCard{
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

#dgCard:hover{
    opacity: 0;
}

#istCard{
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

#istCard:hover{
    opacity: 0;
}

#mtCard{
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

#mtCard:hover{
    opacity: 0;
}

/*
#squareSkewBg1{
    position: absolute;
    z-index: 0;
    top: 307vh;
    left: 25.5%;
    background: #f2eff0;
    width: 100px;
    height: 400px;
    opacity: .5; 
}

#squareSkewBg2{
    position: absolute;
    z-index: 0;
    top: 320vh;
    left: 1.5%;
    background: #f2eff0;
    width: 450px;
    height: 5px; 
}
*/


.horizontalFlexbox {
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
top:265vh;
position: absolute;   
height: 610px;
margin-left:3%;
}

.horizontalFlexbox::-webkit-scrollbar {
-webkit-appearance: none;
}
.horizontalFlexbox::-webkit-scrollbar:vertical {
width: 11px;
}

.horizontalFlexbox::-webkit-scrollbar:horizontal {
height: 14px;
}

.horizontalFlexbox::-webkit-scrollbar-thumb {
border: 2px solid white; /* should match background, can't be transparent */
background-color: #f34b53;

}


.horizontalFlexbox2 {
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
top:355vh;
position: absolute;   
height: 610px;
margin-left:3%;
}

.horizontalFlexbox2::-webkit-scrollbar {
-webkit-appearance: none;
}
.horizontalFlexbox2::-webkit-scrollbar:vertical {
width: 11px;
}

.horizontalFlexbox2::-webkit-scrollbar:horizontal {
height: 14px;
}

.horizontalFlexbox2::-webkit-scrollbar-thumb {
border: 2px solid white; /* should match background, can't be transparent */
background-color: #f34b53;
}

.card {
flex: 0 0 auto;
object-fit: contain;
margin-bottom: 10%;
cursor: pointer;

}

#cardImgDG{
width:70%;
}

#cardImgMT{
width:70%;
}

#cardImgIST{
width:70%;
}

#cardImgB{
width:70%;
}

#cardImgMisc{
width:70%;
}

#cardImgSF{
width:70%;
}

#cardSubtext{
font-size: 1rem;
/*    color: #f23640;*/
opacity: .7;
position: absolute;
margin-top: 5%;
margin-left: 10%;
padding-right:50%;
padding-top: 0;
padding-bottom: 0;
}

#cardSubtext2{
font-size: 1rem;
/*    color: #f23640;*/
opacity: .7;
position: absolute;
margin-top: 5%;
margin-left: 10%;
padding-right:50%;
padding-top: 0;
padding-bottom: 0;
}

.emptyCard{
flex: 0 0 auto;
background-color:white;
width:100px;
height: auto;
margin-bottom: 10%;
}

.biggerEmptyCard{
flex: 0 0 auto;
background-color:white;
width:400px;
height: auto;
margin-bottom: 10%;
}

#bottomSpace{
height: 300rem;
background-color: white;

}

#webTitles{
font-family: 'Oranienbaum', serif;
font-size: 6.5rem;
margin-top: 0%;
margin-right: 80%;
margin-left: 8%;
}

#appTitles{
font-family: 'Oranienbaum', serif;
font-size: 6.5rem;
margin-top: 0%;
margin-right: 80%;
margin-left: 8%;
}

#amountText{
    color: #f34b53;
    opacity: .9;
    font-size: 2.8rem;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}


/*  Mobile Devices */
@media only screen and (max-width: 1030px){
    body{
        background-image: url(circles.png);
        text-align: center;
    }

    #mobileName{
        font-family: 'Oranienbaum', serif;
        font-size: 6rem;
        display: inline-block !important;
        margin-top: 30%;
        color: #393641;
    }

    #mobileText{
        display: inline-block !important;
        font-family: 'Open Sans', serif;
        font-size: 1rem;
        color: #393641;
    }

    #socialShapeMobile{
        width: 0px;
        height: 0px;
        border-style: inset;
        border-width: 0 40px 63.2px 40px;
        border-color: transparent transparent #f23640 transparent;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        animation: rotation 15s infinite linear;
        cursor: pointer;
        display: inline-block;
    }

    #socialShapeMobile p{
        color: #ffff;
        font-family: 'Open Sans', serif;
        text-align: center;
        top: 45px;
        font-size: .7rem;
        left: -47px;
        position: relative;
        width: 93px;
        height: 73px;
        margin: 0px;
    }

    #gitShapeMobile{
        display: flex !important;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #f23640;
        margin-left: 30%;
        margin-top: 4%;
        z-index: 3;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
        font-family: 'Open Sans', serif;
        color: #ffff;
        animation: rotation 15s infinite linear;
        cursor: pointer;
        text-decoration: none;
    }

    #wrapper{
        display: none;
    }

    #header{
        display: none;
    }      
}

/* Smaller Resolution Monitors */
@media only screen and (max-width: 1450px){
    #name{
        font-size: 12rem;
        top: 18.8vh !important; 
    }

    #subTitle{
        font-size: 1.8rem;
        left: 45.8vw !important;
        top: 46.5vh !important; 
    }

    #subTitle2{
        font-size: 1.8rem;
        left: 57vw !important;
        top: 46.8vh !important; 
    }

    #subTitle3{
        font-size: 1.8rem;
        left: 58.7vw !important;
        top: 46.5vh !important;
    }

    #resumeShape{
        height: 100px;
        width: 100px;
        font-size: 1.3rem;
    }

    #gitShape{
        height: 100px;
        width: 100px;
        font-size: 1.3rem;
    }

    #socialShape{
        border-width: 0 60px 103.2px 60px;
    }

    #socialShape p{
        top: 65px;
        font-size: .9rem;
    }

    #window{
        height: 300px;
        background-size: 55%;
    }

    #introText{
        width: 24%;
        margin-top: 23vh;
        margin-left: 15vw;
        font-size: 1.5rem;
    }

    #introTextHeader{
        font-size: 2.7rem;
    }

    #skillText{
        top: 130vh;
    }

    #skillTextHeader{
        font-size: 2.6rem;
    }

    .orb-1{
        top: 135vh;
        font-size: 12px;
        width: 51.5px;
        height: 51.5px;
        line-height: 52.5px;
    }

    .orb-2{
        top: 150vh;
        width: 185px;
        height: 185px;
        line-height: 175px;
        font-size: 33px;
    }

    .orb-3{
        top: 120vh;
        width: 105px;
        height: 105px;
        font-size: 29px;
        line-height: 105px;
    }

    .orb-4{
        top: 130vh;
        width: 140px;
        height: 140px;
        font-size: 40px;
        line-height: 140px;
    }

    .orb-5{
        top: 122vh;
        height: 70px;
        width: 70px;
        font-size: 19px;
        line-height: 70px;
    }

    .orb-6{
        top: 160vh;
        width: 105px;
        height: 105px;
        font-size: 28px;
        line-height: 110px;
    }

    .orb-7{
        top: 153vh;
        width: 240px;
        height: 240px;
        font-size: 40px;
        line-height: 230px;
    }

    .orb-8{
        top: 150vh;
        width: 70px;
        height: 70px;
        font-size: 18px;
        line-height: 70px;
    }

    .orbDetail-1{
        top: 149.5vh;
        width: 75px;
        height: 75px;
    }

    .orbDetail-2{
        top: 149.5vh;
        width: 75px;
        height: 75px;
    }

    .orbDetail-3{
        top: 149.5vh;
        height: 190px;
        width: 190px;
    }

    .orbDetail-4{
        top: 149.5vh;
        width: 190px;
        height: 190px;
    }

    .orbDetail-5{
        top: 121.5vh;
        height: 75px;
        width: 75px;
    }

    .orbDetail-6{
        top: 121.5vh;
        height: 75px;
        width: 75px;
    }

    .dancingMan{
        top: 125vh;
    }

    .rectBg{
        top: 125vh;
        width: 115px;
        height: 200px;
    }

    .rectBg2{
        top: 155vh;
        width: 90px;
        height: 220px;
    }
    
    .sunflower{
        top: 205vh;
    }

    #workText{
        top: 240vh;
    }

    #workTextHeader{
        font-size: 2.7rem;
    }

    .work{
        font-size: 1.9rem;
    }

    #middle p{
        font-size: 1.2rem;
    }

    .shape{
        top: 255vh;
        width: 20px;
    }

    .shape2{
        top: 243vh;
        width: 15px;
    }

    .shape3{
        top: 243vh;
        border-top: 10px solid transparent;
        border-right: 45px solid #45eff0;
        border-bottom: 10px solid transparent;
    }

    .resumeCloseBtn{
        font-size: 2.3rem !important;
    }

    .resumeCloseBtn:hover{
        font-size: 2.4rem !important;
    }

    .demoGridCloseBtn{
        font-size: 2.3rem !important;
    }

    .demoGridCloseBtn:hover{
        font-size: 2.4rem !important;
    }

    #demoGridCloseSubText{
        top: 11vh;
        font-size: .7rem !important;
    }

    #demoGridHeader{
        font-size: 5rem !important;
    }

    #demoGridCaveat{
        font-size: .65rem !important;
    }

    #modal p{
        font-size: .9rem;
    }

    .istCloseBtn{
        font-size: 2.3rem !important;
    }

    .istCloseBtn:hover{
        font-size: 2.4rem !important;
    }

    #istCloseSubText{
        top: 11vh;
        font-size: .7rem !important;
    }

    #istHeader{
        font-size: 5rem !important;
    }

    #modal2 p{
        font-size: .9rem;
    }

    .sfCloseBtn{
        font-size: 2.3rem !important;
    }

    .sfCloseBtn:hover{
        font-size: 2.4rem !important;
    }

    #sfCloseSubText{
        top: 11vh;
        font-size: .7rem !important;
    }

    #sfHeader{
        font-size: 5rem !important;
    }

    #modal3 p{
        font-size: .9rem;
    }

    .bCloseBtn{
        font-size: 2.3rem !important;
    }

    .bCloseBtn:hover{
        font-size: 2.4rem !important;
    }

    #bCloseSubText{
        top: 11vh;
        font-size: .7rem !important;
    }

    #bHeader{
        font-size: 5rem !important;
    }

    #modal4 p{
        font-size: .9rem;
    }

    .miscCloseBtn{
        font-size: 2.3rem !important;
    }

    .miscCloseBtn:hover{
        font-size: 2.4rem !important;
    }

    #miscCloseSubText{
        top: 11vh;
        font-size: .7rem !important;
    }

    #miscHeader{
        font-size: 5rem !important;
    }

    #modal5 p{
        font-size: .9rem;
    }     
}


